.side-bar {
	position: relative;
	gap: 12px;
	padding: 0 20px;
	font-weight: 500;
	font-size: 18px;
	align-items: center;
	display: flex;
	height: 59px;
	border-bottom: 1px solid #e6e6e6;
	&__category {
		cursor: pointer;
	}
	&__arrow {
		position: absolute;
		right: 20px;
		top: 50%;
		transition: all 0.4s;
		transform: translateY(-50%);
	}
	&__arrow.show {
		position: absolute;
		right: 20px;
		top: 50%;
		transition: all 0.4s;
		transform: translateY(-50%) rotate(180deg);
	}
	&__content {
		overflow: hidden;
		max-height: 0;
		transition: all 0.6s cubic-bezier(0, 1, 0, 1);
	}
	&__content.show {
		max-height: 9999px;
		transition: all 0.4s cubic-bezier(1, 0, 1, 0);
	}
}
